Package: solr
Version: 7.7.2.19.11.04
Section: misc
Priority: optional
Architecture: all
Depends: default-jre-headless,hunspell-de-de-frami,hunspell-hu
Installed-Size: 100
Maintainer: Markus Mandalka <debian@mandalka.name>
Homepage: https://opensemanticsearch.org/
Description: Preconfigurated Solr
 starting as a daemon
